*{ box-sizing: border-box;
  font-family: "Buda", serif;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(15, 3, 45);
  
}
:root {
  --text-color:white;
}
.logo-area {
  display: flex;           
  align-items: center;     
  gap: 12px;           
}

.logo {
  width: 50px;            
  height: auto;
}

#para-1 {
  margin: 0;              
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  
}

.container {
display: flex;
}
.container div {
margin: 10px;
padding: 20px;
font-size: 24px;
border-radius: 20px;
}


.main-nav{
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.nav-bar{
  display: flex;
  align-items: center; 
  padding: 20px;
  gap: 20px;
  margin: 10px;
  list-style: none;
  
}
header{
  display: flex;
  align-items:center ;
  justify-content: space-between;
}
.logo{
  width: 80px;
  height: 80px;
  border: 20px;
  border-radius: 50px;
}
.highlight{
  color: rgb(15, 15, 179);
  
}
.button:hover {
    background-color: rgb(42, 142, 205)
    
    
}
.buttons{
  color: rgb(216, 216, 236);
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--text-color);
  background-color: transparent; 
}
.hero-list {
    display: inline-flex;
    display: flex;
    list-style: none;
    gap: 1rem;
    color: rgb(15, 81, 30)
}
.btn {
  background-color: aliceblue;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10px;
}