.main-nav{
  background-color: rgb(93, 143, 143);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.nav-list{
  display: flex;
  align-items: center; 
  padding: 10px;
  margin: 10px;
  list-style: none;
}
header{
  display: flex;
  align-items:center ;
  justify-content: space-between;
}